RewriteEngine on
RewriteRule ^dien-thoai/$ main.php [L]
RewriteRule ^gio-hang/$  main.php?p=giohang  [L]
RewriteRule ^thanh-toan-1/$  main.php?p=thanhtoan1  [L]
RewriteRule ^thanh-toan-2/$  main.php?p=thanhtoan2  [L]
RewriteRule ^thanh-toan-3/$  main.php?p=thanhtoan3  [L]	
RewriteRule ^thanh-toan-4/$  main.php?p=thanhtoan4  [L]
RewriteRule ^dat-hang/$  main.php?p=dathang  [L]
RewriteRule ^dien-thoai/(.*)/(.*)/$ main.php?p=sptrongloai&TenLoai=$1&pageNum=$2 [L]
RewriteRule ^dien-thoai/(.*)/$  main.php?p=sptrongloai&TenLoai=$1&pageNum=1 [L]
RewriteRule ^dien-thoai/(.*).html$  main.php?p=chitiet&idDT=$1  [L]
RewriteRule ^lien-he/$  main.php?p=lienhe  [L]